<template lang="">
    <Auth>
    <div>
        <h1>Product View</h1>
    </div>
    </Auth>
</template>
<script>
import Auth from '../components/Auth.vue'
export default {
  components: {
    Auth
  }
}
</script>
<style lang="">

</style>
